<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fantempo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
  </head>

  <body class="main d-flex flex-column justify-content-between">
    <%= render 'shared/header' %>

    <section class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
          <div class="d-flex justify-content-center">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>

    <footer class="container">
      <div class="d-flex justify-content-xl-end justify-content-lg-end justify-content-center">
        <span>Todos los derechos reservados © Fantempo</span>
      </div>
    </footer>
  </body>
</html>
