<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fantempo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main d-flex flex-column justify-content-between">
    <%= render 'shared/header' %>

    <section class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
          <%= yield %>
        </div>
      </div>
    </section>

    <footer class="container">
      <div class="text-xl-right text-lg-right text-md-center text-sm-center">
        Todos los derechos reservados © Fantempo
      </div>
    </footer>
  </body>
</html>
