<!DOCTYPE html>
<html>
  <head>
    <title>Fantempo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="landing d-flex flex-column justify-content-between">
    <header class="container">
      <div>fantempo</div>
      <%= render 'shared/notifications' %>
    </header>
    <section class="container">
      <%= yield %>
    </section>
    <footer class="container d-flex justify-content-center">
      <div>Todos los derechos reservados © Fantempo</div>
    </footer>
  </body>
</html>